<div class="row mt-5 mb-5">
    <div class="col-md-4 col-sm-5 col-lg-4 m-auto ">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPRCvXQJKmljRctLnk0f1wuHHUPOm_opTVzA&usqp=CAU" class="card-img-top" width="200" height=200">
        <div class="card-body">
            <p>UID- <%= user.id %></p>
            <p>Name- <%= user.name %></p>
            <p>Email- <%= user.email %></p>
            <p>Phone- <%= user.phone %></p>
            <p>Gender- <%= user.gender %></p>
            <p>Age- <%= user.age %></p>
            <p>Profession- <%= user.profession %> </p>
            <p>Joined DateTime- <%= user.date %> </p>
            <a href="/users/logout" class="btn btn-danger float-right">Logout</a>
         </div>
        </div>
     </div>
</div>

